@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body,html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(rgb(84,79,79),rgb(40,38,38));
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.title{
  display: flex;
  justify-content: center;
  margin: 50px;
  color: white;
}


button{
  padding: 20px;
  width: 80px;
  margin: 0 5px;
  margin-top: 9px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 3px solid black;
  background-color: rgb(157, 153, 153);
  color: white;
  cursor: pointer;
}
.button:hover{
  background-color: rgb(102, 97, 97);
}
.button2{
  width: 175px;
}
.input{
  height: 49px;
  width: 355px;
  font-size: 1.1rem;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 3px solid black;
}
.red{
  background-color: rgb(209, 24, 24);
}
.red:hover{
  background-color: rgb(152, 13, 13);
}
.orange{
  background-color: orange;
}
.orange:hover{
  background-color: rgb(169, 114, 13);
}

@media only screen and (max-width: 450px){
  body,html{
    background: rgb(36, 35, 35);
    min-width: fit-content;
    height: 90vh;
  }
  .title{
    margin-top: 70px;
  }
  .container{
    width: 100%;
    margin: 0px;
    margin-top: 200px;
    display: block;
  }
  button{
    padding: 20px;
    width: 90px;
    font-size: 1.3rem;
    margin: 0px 0px;
    margin-top: 5px;
  }
  .button2{
    width: 185px;
  }
  .input{
    width: 364px;
    height: 60px;
    font-size: 1.3rem;
  }
  
}
